html {
    background-color: #ffeead;
    margin: 10px;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --Color: red;
    --font-size: 15px
}

.FlexBox__Container {
    height: 800px;
    background-color: #ecd36e;
    padding: 20px;
    /* 1 */
    display: flex;
    /* 2 */
    /* justify-content: center; */
    /* 3 */
    /* align-items: center; */
    /* 4 */
    /* align-content: flex-start;
    flex-wrap: wrap; */
    /* 5 */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.FlexBox__Item {
    width: 100px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.Item1 {
    min-height: 100px;
    /* 6 */
    flex-shrink: 0;
    /* 9 */
    align-self: flex-start;
    /* 10 */
    order: 3;
}

.Item2 {
    min-height: 200px;
    /* 8 */
    /* flex-grow: 2;
    flex-basis: 0; */
    /* 9 */
    /* align-self: center; */
    order: 1;
}

.Item3 {
    min-height: 300px;
    /* 7 */
    /* flex-grow: 1; */
}


/***********flex box **********
display : flex ;
flex-direction : column , row

justify-content: ;
flex-start
flex-end
center
space-around
space-between
space-evenly
*/

.container {
    border: 5px solid #ecd36e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container div {
    width: 300px;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/***task search what is the other values**/

.imageContainer>div {
    flex: 1 1 30%;
}


/********************grid**********************/

.grid {
    height: 100vh;
    display: grid;
    /**if i want to make all equal use 1fr for all **/
    /**grid-template-columns: repeat(3 or auto-fill or auto-fit, 300px or minmax(min value like 300px , max value 1fr) )
    **/
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "box1 box6 box3""box4 box4 box3""box2 box5 box5";
}

.Box1 {
    grid-area: box1;
    background-color: var(--Color);
}

.Box2 {
    font-size: var(--font-size);
    grid-area: box2;
    background-color: #96ecb4;
    /**use the short cut grid-row:1/3; and grid-column: 2/3; **/
    /* grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    */
}

.Box3 {
    font-size: var(--font-size);
    grid-area: box3;
    background-color: var(--Color);
}

.Box4 {
    grid-area: box4;
    background-color: var(--Color);
}

.Box5 {
    grid-area: box5;
    background-color: #ff0000;
}

.Box6 {
    font-size: var(--font-size);
    grid-area: box6;
    background-color: #04ff64;
}